SECRET_KEY = "Your Django Secret Key"
DB_NAME = 'Your database name'
DB_USER = 'Your database user'
DB_PASSWORD = 'Your database password'
DB_HOST = 'Your host'
DB_PORT = 3306 # The port you want to use
EMAIL_HOST_USER = "Your email username" # Should be gmail
EMAIL_HOST_PASSWORD = "Your email password